body{
    background-color: rgb(190, 139, 238);
    font-size: 20px;
}
button{
    background-color: rgb(132, 72, 189);
    font-size: 40px;
    border-radius: 10px;
    color: aliceblue;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}