{% extends "base.html" %}
{% block title %} Estructura {% endblock %} 
{% block content %}
<h1>Estructura Flask</h1>
<p>La estructura de un proyecto Flask puede variar, pero comúnmente incluye un archivo principal (app.py o similar) que contiene la lógica de la aplicación, carpetas static y templates para recursos y plantillas HTML, respectivamente. Para proyectos más grandes, se recomienda usar Blueprints, que son módulos independientes que agrupan funcionalidad y rutas relacionadas para mantener el código organizado y escalable. </p> 

<img src="{{url_for('static',filename='img/imagencarpeta.png')}}" alt="">
{% endblock %}