{% extends "base.html" %}
{% block title %} Github {% endblock %} 
{% block content %}
<h1>Github</h1>
<p>GitHub es una plataforma en la nube que sirve como repositorio para proyectos, utilizando el sistema de control de versiones Git. Permite a los desarrolladores, y a cualquier persona, almacenar, compartir y colaborar en proyectos de código, haciendo un seguimiento detallado de los cambios a lo largo del tiempo. Esencialmente, funciona como un centro de colaboración que facilita el trabajo en equipo en proyectos, incluso con personas que están a kilómetros de distancia. </p>
{% endblock %} 